.sent {
    margin-left: auto;
    flex-direction: row-reverse;
}
.received {
    margin-right: auto;
    flex-direction: row;
}
.App {
    min-height: 100vh;
}
.visualizer {
    border-radius: 100px;
    height: 40px;
    width: 90%;
}
.main-content {
    min-height: calc(100vh - 76px);
}
.form {
    height: 60px;
}
.chat-box-screen {
    height: calc(100vh - 136px);
    max-height: calc(100vh - 136px);
    overflow-y: scroll !important;
}

.chat-box-screen>div{
    overflow-y: scroll !important;
}