.sent {
    margin-left: auto;
    flex-direction: row-reverse;
}
.received {
    margin-right: auto;
    flex-direction: row;
}
.App {
    min-height: 100vh;
}
.visualizer {
    border-radius: 100px;
}

